.main-menu ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-menu > ul > li
{
    display: inline-block;
}

.main-menu ul li.active a
{
    color: #afcc1c;
    border-top: 2px solid #afcc1c;
}

.lang-switch {
    margin: 34px 0 0 30px;
    display: inline-block;
}

.lang-switch .dropdown-menu {
    min-width: auto;
}

#lang-switch {
    background: none;
    border: none;
    box-shadow: none;
}

#lang-switch .caret {
    top: 18px;
    position: absolute;
    right: 0;
    color: #fff;
}
